/* .link, .adm{
    padding: 0px 0px;
}

.link:hover{
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid gray;
} */

 

.active{
    /* border-bottom: 1px solid #d68f2b; */
    color: blue;
    transition: all 0.4s ease-in-out;
}